@font-face {
  font-family: "Omnes";
  src: url("assets/fonts/Omnes.ttf") format("truetype")
}

@font-face {
  font-family: "Calgary";
  src: url("assets/fonts/calgary.ttf") format("truetype")
}

ul {
  list-style-type: none;
  color: white;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.home-container {
  margin:2rem 0;
}

.title-section-container {
  margin: 1rem 0;
}

.title-section {
  font-weight:bold;
  font-size:1.3rem;
}

.search-date-container {
 width:100%;
 margin:0.3rem 0;
}

.label-find-rooms {
  text-align:center;
  margin-bottom:0.3rem;
}

.adults-label-container {
  margin:0.3rem 0.3rem 0.3rem 0; 
}

.children-label-container {
  margin:0.3rem 0 0.3rem 0.3rem;
}

.button-find-rooms-container {
  width:80%;
  margin:1.6rem 0;
}

.text-align-center {
  text-align: center;
}

.room-description-title-container {
  margin:3rem 0 1.8rem 0;
}

.room-title-container {
  margin:1rem 0 0.5rem 0;
}

.margin-08 {
  margin:0.8rem;
}

.font-weight-bold {
  font-weight: bold;
}

li:not(:last-child) {
  margin-bottom: 0.8rem;
}

textarea {
  border: none;
}

input {
  border: 0;
  padding: 0.6rem;
}

.room-image-home {
  width: 100%;
  height: 100%;
}

.room-review-home, .popular-attraction-home-img {
  width: 100%;
  height: 100%;
}

input:focus, textarea:focus {
  outline: 2px solid #1e555c;
}
input[type="date"]::-webkit-calendar-picker-indicator {
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  background-color: #1e555c;
  color: white;
  border: none;
  text-decoration: none;
  padding: 1rem;
  transition: background-color 200ms ease;
}

.inverted-button {
  color: #1e555c;
  background-color: white;
  border: 2px solid #1e555c;
}

button:hover {
  background-color: #324B4E;
  cursor: pointer;
}

a {
  color: #1e555c;
  font-weight: bold;
  text-decoration: none;
}
.info-menu-text {
  color: white;
  margin: 0.3rem 2.4rem;
  opacity: 0.8;
}

/* Transparent Overlay */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#f0f0f0, white);
  background: -webkit-radial-gradient(#f0f0f0, white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  counter-reset: div;
  padding: 0.5rem;
}

.col-1 {
  grid-column: auto/span 1;
}
.col-2 {
  grid-column: auto/span 2;
}
.col-3 {
  grid-column: auto/span 3;
}
.col-4 {
  grid-column: auto/span 4;
}
.col-5 {
  grid-column: auto/span 5;
}
.col-6 {
  grid-column: auto/span 6;
  display: grid;
}
.col-7 {
  grid-column: auto/span 7;
}
.col-8 {
  grid-column: auto/span 8;
}
.col-9 {
  grid-column: auto/span 9;
}
.col-10 {
  grid-column: auto/span 10;
}
.col-11 {
  grid-column: auto/span 11;
}
.col-12 {
  grid-column: auto/span 12;
  display: grid;
}

.justify-item-start {
  justify-items: start;
}

.justify-item-center {
  justify-items: center;
}

.justify-item-end {
  justify-items: end;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

* {
  margin: 0;
  font-family: Omnes;
}


.navbarGrid {
  background-color: #1e555c;
  padding: 1rem;
  top: 0;
}

.text-logo {
  color: white;
}

.menu-line {
  height: 0.1rem;
  background-color: white;
}

.menu-burger-icon:hover {
  cursor: pointer;
}

.close-icon:after {
  content: "\00d7";
  color: white;
  font-size: 2.2rem;
  font-weight: lighter;
  margin-right: 1rem;
}

.close-icon:hover {
  cursor: pointer;
}

.footer-beturin {
  background-color: #324B4E;
  color: white;
}

.footer-text {
  opacity: 0.7;
  font-size: 0.8rem;
  line-height: 22px;
  font-weight: lighter;
  text-align: center;
}

.footer-secondary {
  color: #f3f1e9;
  font-size: 0.8rem;
  line-height: 22px;
  font-weight: lighter;
  text-align: center;
}

.check-availability-card {
  background: #f3f1e9;
}

.first-line {
  width: 1.5rem;
  margin-bottom: 0.4rem;
  transition: width 0.2s ease-out;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
}

.menu-burger-icon:hover > .first-line,
.menu-burger-icon:hover > .third-line{
  width: 2rem;
}

.second-line {
  width: 2rem;
  margin-bottom: 0.4rem;
}

.third-line {
  width: 1.5rem;
  transition: width 0.2s ease-out;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
}

.open-menu {
  background-color: #1e555c;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

@media screen and (min-width: 992px) {
  .lg\:col-1 {
    grid-column: auto/span 1;
  }
  .lg\:col-2 {
    grid-column: auto/span 2;
  }
  .lg\:col-3 {
    grid-column: auto/span 3;
  }
  .lg\:col-4 {
    grid-column: auto/span 4;
  }
  .lg\:col-5 {
    grid-column: auto/span 5;
  }
  .lg\:col-6 {
    grid-column: auto/span 6;
  }
  .lg\:col-7 {
    grid-column: auto/span 7;
  }
  .lg\:col-8 {
    grid-column: auto/span 8;
  }
  .lg\:col-9 {
    grid-column: auto/span 9;
  }
  .lg\:col-10 {
    grid-column: auto/span 10;
  }
  .lg\:col-11 {
    grid-column: auto/span 11;
  }
  .lg\:col-12 {
    grid-column: auto/span 12;
  }
  .lg\:justify-item-start {
    justify-items: start;
  }
  .lg\:justify-item-center {
    justify-items: center;
  }
  .lg\:justify-item-end {
    justify-items: end;
  }

  ul {
    font-size: 2.5rem;
  }

  .info-menu-text {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .md\:col-1 {
    grid-column: auto/span 1;
  }
  .md\:col-2 {
    grid-column: auto/span 2;
  }
  .md\:col-3 {
    grid-column: auto/span 3;
  }
  .md\:col-4 {
    grid-column: auto/span 4;
  }
  .md\:col-5 {
    grid-column: auto/span 5;
  }
  .md\:col-6 {
    grid-column: auto/span 6;
  }
  .md\:col-7 {
    grid-column: auto/span 7;
  }
  .md\:col-8 {
    grid-column: auto/span 8;
  }
  .md\:col-9 {
    grid-column: auto/span 9;
  }
  .md\:col-10 {
    grid-column: auto/span 10;
  }
  .md\:col-11 {
    grid-column: auto/span 11;
  }
  .md\:col-12 {
    grid-column: auto/span 12;
  }

  .md\:justify-item-start {
    justify-items: start;
  }
  .md\:justify-item-center {
    justify-items: center;
  }
  .md\:justify-item-end {
    justify-items: end;
  }
}
